<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Ubicaciones</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Listado de Ubicaciones</h1>
        <form action="/search" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="query" placeholder="Buscar por nombre o ubicación">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <ul class="list-group mt-3">
            {% for id, name, location in locations %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ name }} - <a href="{{ location }}" target="_blank">{{ location }}</a>
                    <div>
                        <a href="/edit/{{ id }}" class="btn btn-warning btn-sm">Editar</a>
                        <form action="/delete/{{ id }}" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                        </form>
                    </div>
                </li>
           {% endfor %}
        </ul>
        {% if show_home_button %}
            <a href="/" class="btn btn-primary mt-3">Ir al Inicio</a>
        {% endif %}
    </div>
</body>
</html>
